.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 hsl(69, 80%, 57%);
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  border-radius: 20%;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #7a7226a1;
  text-align: center;
  text-decoration: dotted;
  text-transform: none;
  text-shadow: hsl(98, 51%, 40%);
  font-family: 'Indie Flower', cursive;
}
